fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
email-validator
python-dotenv
httpx
redis>=4.5.0
PyMuPDF
supabase
google-generativeai
google-genai
anthropic
arq>=0.25.0
groq
openai
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
edge-tts